# Ignore the virtual environment
venv/
.venv/
env/


# Ignore Python cache files
__pycache__/
*.pyc

# Ignore local environment variables
.env

# Ignore those big test HTML files you're scraping
*.html

#Ignore Python test file
test.py